services:
  app:
    platform: linux/amd64
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    ports:
      - 5173:5173
      - 6006:6006
    volumes:
      - ../:/workspace
      - /workspace/react/app/node_modules
    environment:
      TZ: Asia/Tokyo