services:
  app:
    platform: linux/amd64
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    ports:
      - 3000:3000
      - 6006:6006
    volumes:
      - ../:/workspace
      - /workspace/nextjs/app/node_modules
      - /workspace/nextjs/app/.next
    environment:
      TZ: Asia/Tokyo